---
import './PlansTable.scss'
import plansData from '@src/config/plans.json'
const plans = plansData.plans

const planColumns = ['Classic', 'Premium', 'Personalizado']
const iconPrefix = 'bi bi-'
---

<section class='container-md'>
  <h2 class='h2 display-4 text-center'>Comparar los planes</h2>
  <div class='table-responsive-sm'>
    <table class='table table-borderless table-striped align-middle w-100'>
      <thead class='text-center'>
        <tr>
          <th scope='col'></th>
          {planColumns.map((plan) => <th scope='col'>{plan}</th>)}
        </tr>
      </thead>
      <tbody class='text-center border-primary'>
        {
          plans.map((plan) => (
            <tr>
              <th
                class='text-start'
                scope='row'>
                {plan.feature}
              </th>
              <td>
                <i class={`${iconPrefix}${plan.basic}`} />
              </td>
              <td>
                <i class={`${iconPrefix}${plan.complete}`} />
              </td>
              <td>
                <i class={`${iconPrefix}${plan.custom}`} />
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
</section>
