---
import { getCollection } from 'astro:content'
import FormattedDate from '@src/components/FormattedDate.astro'

// Obtén los posts de forma asíncrona
const posts = (await getCollection('blog')).sort((a, b) => {
  const dateA = new Date(a.data.date).getTime()
  const dateB = new Date(b.data.date).getTime()
  return dateB - dateA
})

import { info } from '@src/config/settings.json'

const recentPosts = posts.slice(0, 3)
---

<div
  class='position-sticky'
  style='top: 5rem;'>
  <div>
    <h2 class='fst-italic fs-5'>Publicaciones recientes</h2>
    <ul class='list-unstyled'>
      {
        recentPosts.map((post) => (
          <li>
            <article>
              <a
                class='d-flex flex-lg gap-3 align-items-start align-items-lg-center py-3 text-body text-decoration-none border-top'
                href={`/blog/${post.slug}/`}>
                <img
                  class='bd-placeholder-img rounded-3'
                  style='aspect-ratio: 16/9; object-fit: cover; max-width: 40%;'
                  src={post.data.image}
                  height='96'
                  alt=''
                  loading='lazy'
                />
                <div class=''>
                  <h3 class='mb-0 fs-6'>{post.data.title}</h3>
                  <small class='text-body-secondary'>
                    <FormattedDate date={post.data.date} />
                  </small>
                </div>
              </a>
            </article>
          </li>
        ))
      }
    </ul>
    <div class='text-center'>
      <p class=''>{info.name}</p>
    </div>
  </div>
</div>
